[req]
distinguished_name = subject
x509_extensions = extensions
prompt = no

[subject]
CN = coffee.internal

[extensions]
subjectAltName = @alt_names
basicConstraints = critical, CA:FALSE
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth

[alt_names]
DNS.1 = coffee.internal
DNS.2 = localhost
IP.1 = 127.0.0.1