.git
.env
.env.*
.venv
venv
myenv
__pycache__
.pytest_cache
.mypy_cache
.ruff_cache
*.pyc
*.log
frontend
dist
build

tests
.github
docs
*.zip
README*
Makefile
zip_clean.sh
compose*.yml
docker-compose*.yml