POSTGRES_DB=coffee_house
POSTGRES_USER=coffee_house
POSTGRES_PASSWORD=coffee_house
ADMIN_REGISTRATION_CODE=admin_penis

DATABASE_URL=postgresql+asyncpg://coffee_house:coffee_house@db:5432/coffee_house

JWT_SECRET_KEY=change_me
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

REDIS_URL=redis://redis:6379/0
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0